
body {
  margin: 0;
  font-family: 'Play', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  list-style: none;
  background-color: #210705;
  background-image: url('./images/background-home-mobile.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
screen and (min-resolution: 192dpi) and (max-width: 767px),
screen and (min-resolution: 2dppx) and (max-width: 767px) {
    body {
        background-image: url('./images/background-home-desktop.jpg'); 
    }
}

@media screen and (min-width: 768px) {
  body {
    background-image: url('./images/background-home-desktop.jpg');
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
